
@font-face {
    font-family: PFSquareSansPro;
	font-weight: 400;
	font-style: italic;
    src: url(../fonts/PFSquareSansPro-Italic.ttf);
}
@font-face {
    font-family: PFSquareSansPro;
	font-weight: bold;
	font-style: italic;
    src: url(../fonts/PFSquareSansPro-BoldItalic.ttf);
}
@font-face {
    font-family: PFSquareSansPro;
	font-weight: 400;
	font-style: normal;
    src: url(../fonts/PFSquareSansPro-Regular.ttf);
}
@font-face {
    font-family: PFSquareSansPro;
	font-weight: bold;
	font-style: normal;
    src: url(../fonts/PFSquareSansPro-Bold.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasBold.ttf);
}