<section class="full-video">
	<img src="img/icon-close.png" class="full-video__close js-close-icon">
	<div class="full-video__wrap">
		<div class="full-video__list owl-carousel">
			<div class="full-video__item">
				<div class="full-video__prod">
					<video id="example_video_2" class="video-js vjs-default-skin js-full-video"
						controls preload="auto" width="1000" height="auto"
						poster="img/pic-1.jpg"
						data-setup='{"example_option":true}'>
						<source src="video/Hornbach-Your_Project.mp4" type="video/mp4" />
						<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
				</div>
				<div class="full-video__descr">
					<p class="full-video__descr-txt">first video</p>
					<div class="full-video__descr-full">
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
					</div>
				</div>
			</div>
			<div class="full-video__item">
				<div class="full-video__prod">
					<video id="example_video_1" class="video-js vjs-default-skin js-full-video"
						controls preload="auto" width="1000" height="auto"
						poster="img/pic-9.jpg"
						data-setup='{"example_option":true}'>
						<source src="video/VinceStaples-Señorita.mp4" type="video/mp4" />
						<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
				</div>
				<div class="full-video__descr">
					<p class="full-video__descr-txt">Señorita - Vince Staples - MUSIC VIDEO - CREDITS</p>
					<div class="full-video__descr-full">
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
					</div>
				</div>
			</div>
			<div class="full-video__item">
				<div class="full-video__prod">
					<video id="example_video_2" class="video-js vjs-default-skin js-full-video"
						controls preload="auto" width="1000" height="auto"
						poster="img/pic-1.jpg"
						data-setup='{"example_option":true}'>
						<source src="video/Hornbach-Your_Project.mp4" type="video/mp4" />
						<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
				</div>
				<div class="full-video__descr">
					<p class="full-video__descr-txt">third video</p>
					<div class="full-video__descr-full">
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
					</div>
				</div>
			</div>
			<div class="full-video__item">
				<div class="full-video__prod">
					<video id="example_video_2" class="video-js vjs-default-skin js-full-video"
						controls preload="auto" width="1000" height="auto"
						poster="img/pic-1.jpg"
						data-setup='{"example_option":true}'>
						<source src="video/Hornbach-Your_Project.mp4" type="video/mp4" />
						<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
				</div>
				<div class="full-video__descr">
					<p class="full-video__descr-txt">Forth video</p>
					<div class="full-video__descr-full">
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
						<div class="full-video__descr-item">
							<p>Credits</p> 
							<p>SONG _ SEÑORITA</p>
							<p>artist _ Vince Staples</p>
							<p>production co _ The Swordfight</p>
							<p>director _ Ian Pons Jewell</p>
							<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
							<p>producer _ Whitney Jackson, Jade Forte</p>
							<p>1st AD _ Jonas Morales</p>
							<p>dop _ Martim Vian</p>
							<p>steadicam _ Damien Church</p>
							<p>gaffer _ Will Elder</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>